.log_butt
{
    background-color: transparent;
    border-width: 0px;
    font-size: 20px;
    font-weight: 600;
}
.sig_butt
{
  background-color: transparent;
    border-width: 0px;
    font-size: 20px;
    font-weight: 600;
}
.nolink{
    text-decoration: none;
    color: white !important;
    margin-left: auto;
}
.navbar_text
{
  font-weight: 600;
  font-size: 20px;
}
.navbar {
  position:absolute;
  z-index:10;
  background:transparent;
  width:100%;
}
.au_t
{
  text-align: center;
  color:lightskyblue;
}
.p_1
{
font-size: 23px;
margin: 20px;
font-family:'Times New Roman', Times, serif;
}
#aboutus
{
box-shadow: 3px 3px 3px 3px #A7A7A7;
background-color: #ffffff;
margin-left: 15px;
margin-right: 15px;

}
body
{
background-color: #F6F6F6;
}
.navbar_text:hover
{
font-size: 150%;
}
.card_sty
{
margin: 20px;
text-align: center;
}
.im_1
{
height: 150px;
width: 150px;
}
.top
{
color: darksalmon;
}
#top_companies
{
margin-right: 6vw;
margin-left: 6vw;

}
.carousel-indicators{ visibility: hidden; }

#sty1
{
    margin-left: auto;
}
/* @media screen and (max-width:992px){
  .small-screen-navbar{
    background-color: transparent !important ;
  } 
}
@media screen and (max-width:667px){
  
.small-screen-navbar{
  background-color: black!important ;
} 
}
@media screen and (max-width:912px){
  
  .small-screen-navbar{
    background-color: black!important ;
  } 
  } */


#sty_2
{
    width : 18rem;
}
#sty_3
{
  background-color: rgba(0, 0, 0, 0.2);
}
.vl
  {
  border-left: 3px solid whitesmoke;
  height: 130px;
  @media screen {
    margin-right: auto;
  margin-left: auto;
  }
  }
.fo
{
  padding:10px;
}
.homebody{
  height: 100%;
  width: 100%;
}
