.changepswd{
    /* background-image: "https://www.cloud4c.com/sites/default/files/2022-08/Cybersecurity-strategy-services-cloud4c-webpage-1.jpg"; */
    background-color: #006699;
    height: 100%;
}

.pswdbox{
    background-color: #ffffff;
    border-radius: 2vw;
    margin: 13vw;
}

#pswdcontent{
    margin: 5vw;
}