#RegisterCom{
    background-color: #F7F9F9;
  }
  #header{
    padding: 10px;
  }
  #register_img{
    margin-top: 17vh;
  }
  .content{
    border-radius: 20px;
    padding: 15px;
    margin-left: 25vw;
    margin-right: 15vw;
    margin-bottom: 5vh;
    background-color:#FFFFFF;
  }
  #register_img{
    float :left
  }
  #return-comp
  {
    margin-left: 100px;
    margin-top: 10px;
  }
  #nolink_2{
    text-decoration: none;
    color: white !important;
    font-size: 25px;
    font-weight: 600;
  }